PORT=
OPENAI_API_KEY=
GEMINI_API_KEY=
OPENROUTER_API_KEY=
MONGO_URI=
QDRANT_URL=
QDRANT_COLLECTION=
QDRANT_BATCH_SIZE=
EMBEDDING_DIMENSION=
OLLAMA_BASE_URL=
OLLAMA_EMBEDDING_MODEL=
EMBEDDING_BATCH_SIZE=
MATCH_SERVICE_URL=
OPENROUTER_MODEL=
FORCE_CHAT_TITLE_FAILURE=